<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<div th:insert="layout/header :: header"></div>
	</header>
	<div class = "container">
		<div class="row">
			<section class="col-md-9">
				
				<h1>Factura</h1>
						<table class="table">
						  <thead class="table-dark">
						    <tr>
						      <th scope="col">Apellido del comprador</th>
						      <th scope="col">Nombre del comprador</th>
						      <th scope="col">Fecha de compra</th>
						      <th scope="col">Total pagado</th>
						      <th scope="col">Cantidad de libros</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr >
						      <td th:text="${cliente.apellido}">></td>
						      <td th:text="${cliente.nombre}">></td>
						      <td th:text="${factura.fechaCompra}"></td>
						      <td ></td>
						      <td ></td>
						    </tr>
						  </tbody>
						</table>
						
						<h1>Libros comprados</h1>
						<table class="table">
						  <thead class="table-dark">
						    <tr>
						      <th scope="col">Código de libro</th>
						      <th scope="col">Autor</th>
						      <th scope="col">Titulo</th>
						      <th scope="col">Fecha de Publicación</th>
						      <th scope="col">Precio</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="libro:${libros}">
						      <th th:text="${libro.codigo}"></th>
						      <td th:text="${libro.autor}"></td>
						      <td th:text="${libro.nombre}"></td>
						      <td th:text="${libro.fechaPublicacion}"></td>
						      <td th:text="${libro.precio}"></td>
						    </tr>
						  </tbody>
						</table>
			</section>
			<aside class="col-md-3">
				<div th:insert="layout/aside :: aside"></div>
			</aside>
		</div>
	</div>
	<footer>
		<div th:insert="layout/footer :: footer"></div>
	</footer>
	
	
</body>
</html>