<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<div th:insert="layout/header :: header"></div>
	</header>
	<div class="container">
		<div class="row">
			<section class="col-md-9">
			<div class="row">
					<div class="col-md-12">
						<h1>Listado de libros</h1>
						
						<table class="table">
						  <thead class="table-dark">
						    <tr>
						      <th scope="col">Código</th>
						      <th scope="col">Autor</th>
						      <th scope="col">Título</th>
						      <th scope="col">Fecha de Publicación</th>
						      <th scope="col">Precio</th>
						    </tr>
						  </thead>
						  <tbody>
						  
						    <tr th:each="listado:${libros}">
						      <th th:text="${listado.codigo}"></th>
						      <td th:text="${listado.autor}"></td>
						      <td th:text="${listado.nombre}"></td>
						      <td th:text="${listado.fechaPublicacion}"></td>
						      <td th:text="${listado.precio}"></td>
						    </tr>
						   
						  </tbody>
						</table>
					
					</div>
				</div>
			</section>
			<aside class="col-md-3">
				<div th:insert="layout/aside :: aside"></div>
			</aside>
		</div>
	</div>
	<footer>
		<div th:insert="layout/footer :: footer"></div>
	</footer>
	
	
</body>
</html>