<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		<div th:insert="layout/header :: header"></div>
	</header>
	<div class = "container">
		<div class="row">
			<section class="col-md-9">
			<div class="row">
				<div class="col-md-4 mb-3">
					<form th:action="@{getCliente}" th:object="${cliente}" method="POST">
						<h2>Buscar Cliente</h2>
						<div class="row">
							<div class="col-12">
								<div class="mb-3 row">
										<label for="exampleInputEmail1" class="form-label col-6">Código</label>	
									<div class="col-6">
									<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="numero de documento" th:field="*{codigo}">
								</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6"></div>
							<div class="col-6">
								<button type="submit" class="btn btn-primary">Buscar </button>
							</div>
						</div>
					</form>
					<form th:action="@{getLibro}" th:object="${libro}" method="POST">
						<h1>Buscar Libro</h1>
						<div class="row">
							<div class="col-12">
								<div class="mb-3 row">
									<label for="exampleInputEmail1" class="form-label col-6">Código</label>	
									<div class="col-6">
										<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="numero de documento" th:field="*{codigo}">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6"></div>
							<div class="col-6">
								<button type="submit" class="btn btn-primary">Buscar Libro</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-8">
					<h1>Comprador</h1>
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th scope="col">Codigo</th>
								<th scope="col">Apellido</th>
								<th scope="col">Nombre</th>
						</tr>
						</thead>
						<tbody>
							<tr>
								<th th:text="${cliente.codigo}"></th>
								<td th:text="${cliente.apellido}"></td>
								<td th:text="${cliente.nombre}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
				
				
				<div class="table-responsive">
					<table class="table">
						  <thead class="table-dark">
						    <tr>
						      <th scope="col">Código</th>
						      <th scope="col">Autor</th>
						      <th scope="col">Título</th>
						      <th scope="col">Fecha de Publicación</th>
						    </tr>
						  </thead>
						  <tbody>
						  
						    <tr th:each="libro:${libros}">
						      <th th:text="${libro.codigo}"></th>
						      <td th:text="${libro.autor}"></td>
						      <td th:text="${libro.nombre}"></td>
						      <td th:text="${libro.fechaPublicacion}"></td>
						    </tr>
						  </tbody>
						</table>
						</div>
				
				<form th:action="@{confirmarVenta}" method="POST">
						
						<div class="row">
							<div class="col-6"></div>
							<div class="col-6">
								<button type="submit" class="btn btn-primary">Confirmar Compra </button>
							</div>
						</div>
					</form>
				
			</section>
			<aside class="col-md-3">
				<div th:insert="layout/aside :: aside"></div>
			</aside>
		</div>
	</div>
	<footer>
		<div th:insert="layout/footer :: footer"></div>
	</footer>
	
	
</body>
</html>