<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div id="footer" th:fragment="footer"> 	
		<div class="card text-white bg-dark mt-4" >
			<div class="card-body">
				<h5 class="card-title">Pie de Página</h5>
				<p class="card-text">Proyecto realizado por Lucas, Luis Fernando.</p>
			</div>
		</div>
		
		
		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>	
	</div>
</body>
</html>